[submodule "elastic/elasticsearch-head"]
	path = elastic/elasticsearch-head
	url = https://github.com/mobz/elasticsearch-head.git
[submodule "elastic/bigdesk"]
	path = elastic/bigdesk
	url = https://github.com/lukas-vlcek/bigdesk.git
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "vim.symlink/bundle/endwise"]
	path = vim.symlink/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim.symlink/bundle/vim-fugitive"]
	path = vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/vim-rails"]
	path = vim.symlink/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim.symlink/bundle/vim-trailing-whitespace"]
	path = vim.symlink/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim.symlink/bundle/ack.vim"]
	path = vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "git-diff-grep"]
	path = git-diff-grep
	url = https://github.com/oscardelben/git-diff-grep.git
[submodule "vim.symlink/bundle/nerdtree.git"]
	path = vim.symlink/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = git://git.wincent.com/command-t.git
